aside.main-sidebar
  section.sidebar
    .user-panel
      .pull-left.image
        img(
          src=""
          alt=""
        )
      .pull-left.info
        p Purwandi
        a(href="#")
          i.fa.fa-circle.text-success
          span Online

    form.sidebar-form(
      action="#"
      method="get"
    )
      .input-group
        input.form-control(
          type="text"
          name="q"
          placeholder="Search..."
        )
        span.input-group-btn
          button.btn.btn-flat(
            type="submit"
            name="search"
            id="search-btn"
          )
            i.fa.fa-search

    ul.sidebar-menu
      li.treeview
        a(href="#")
          i.fa.fa-dashboard
          span Dashboard
      li.header MAIN NAVIGATION
      li.treeview
        a(v-link="{ name: 'PostCreate' }")
          i.fa.fa-pencil
          span New Post
      li.treeview
        a(v-link="{ name: 'PostList' }")
          i.fa.fa-file-text-o
          span Content
      li.treeview
        a(href="#")
          i.fa.fa-users
          span Team
      li.header SETTINGS
      li.treeview
        a(v-link="{ name: 'SettingGeneral' }")
          i.fa.fa-cog
          span General
      li.treeview
        a(href="#")
          i.fa.fa-compass
          span Navigation
      li.treeview
        a(href="#")
          i.fa.fa-cube
          span Apps
