header.main-header
  a.logo(href="/")
    .logo-mini
      b S
      span CMS
    .logo-lg
      b Story
      span CMS

  .navbar.navbar-static-top
    a.sidebar-toggle(
      href="#"
      data-toggle="offcanvas"
      role="button"
    )
    span.sr-only Toggle navigation

    .navbar-custom-menu
      ul.nav.navbar-nav
        li.dropdown.user.user-menu
          a.dropdown-toggle(
            href="#"
            data-toggle="dropdown"
          )
            img.user-image(
              src=""
              alt=""
            )
            span.hidden-xs Purwandi

          ul.dropdown-menu
            li.user-header
              img.user-image(
                src=""
                alt=""
              )
              p
                span Purwandi
                small Member since Nov. 2012
            li.user-footer
              .pull-left
                a.btn.btn-default.btn-flat(href="#") Profile
              .pull-right
                a.btn.btn-default.btn-flat(href="#") Sign out
